<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatsmode.shopify" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.whatsmode.shopify.WhatsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".block.account.LoginActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/StatusImmersion"
                  android:windowSoftInputMode="adjustPan|adjustUnspecified"
            >

        </activity>
        <activity android:name="com.whatsmode.shopify.block.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".block.account.RegisterActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/StatusImmersion"
                  android:windowSoftInputMode="adjustPan|adjustUnspecified"
            />

        <activity android:name=".block.address.AddressListActivity"
                  android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".block.address.AddEditAddressActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".block.WebActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".block.account.ForgotPwdActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/StatusImmersion"
            />

        <activity android:name=".block.account.CheckEmailActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/StatusImmersion"
            />

        <activity android:name=".block.me.OrderDetailsActivity"
                  android:screenOrientation="portrait"
            />
        <activity android:name=".block.checkout.CheckoutUpdateActivity" />

        <activity android:name=".block.account.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/StatusImmersion"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>